<html>
  {{- $paper := resources.Get "css/sheets-of-paper.css" -}}
  {{- $overrides := resources.Get "css/print-override.css" -}}
  {{- $css := slice $paper $overrides | resources.Concat "css/print2.css" -}}
  <script>
    
        const isChromium = brand => brand.brand === "Chromium";
        let styles;
        if(!!globalThis.navigator?.userAgentData?.brands?.some(isChromium)) {
          // Chrome specific hide margin.
          styles = `
                @page {
                  margin-top: 0 !important;
                  margin-bottom: 0 !important;
                }
                @media print {
                  .page {
                    padding: 0 !important;
                    padding-top: 2.5cm !important;
                    padding-bottom: 2cm !important;
                    
                  }
                }
            `
        } else {
          styles = `@media print {.page { padding: 0 !important; }}`;
        }
        const styleSheet = document.createElement("style")
          styleSheet.innerText = styles
          document.head.appendChild(styleSheet)
      
  </script>
<link rel="stylesheet" href="{{ $css.Permalink }}">
  <body>
      <a role="button" class="logo" href="{{.Site.BaseURL}}">
        {{- if (fileExists "assets/image/logo.svg") }}
        {{ (resources.Get "image/logo.svg").Content | safeHTML }}
        {{- else if (fileExists "assets/image/logo.png") -}}
        <img height="47px" src="{{((resources.Get " image/logo.png").Resize "x47" ).RelPermalink}}">
        {{- else -}}
        {{ .Site.Title }}
        {{- end -}}
      </a>
      <a class="print-icon" href="javascript:window.print()">{{ partialCached "util/icon" (dict "key" "print" "size" 30 "alt" "print" "class" "item-icon") (print .
      "item-icon") }}</a>
    <div class="page">
      {{ replaceRE `<hr>\s+<hr>` "</div><div class='page'>" .Content | safeHTML }}
    </div>
    <small class="attribution">
      Using <a href="https://github.com/delight-im/HTML-Sheets-of-Paper">HTML sheets of paper</a> css library</small>
  </body>
</html>
