{{ with $.Site.Params.comment }}
<section class="comments">
  <h2>Comments</h2>
  <ul>
{{$comments := partialCached "util/commentList.html" .}}
{{range index $comments $.RelPermalink }}
<li class="comment">
  <img intrinsicsize="100x100" width="100px" height="100px"
    src="https://www.gravatar.com/avatar/{{ md5 (index .data "Email") }}?s=100&d=identicon" alt="{{ index .data "Name" }}">
    <span class="commenter-name">{{ index .data "Name" }}</span>
    
    {{ $time := .created_at}}
    {{ $icon := resources.Get "image/line-awesome/fa-calendar.svg" | resources.Minify }}
    {{ replace $icon.Content "<svg " "<svg width=\"30px\" "  | safeHTML }}
    <time datetime="{{$time}}">{{(time $time).Format "Monday, Jan 2, 2006."}}</time>
    <div class="commenter-comment">{{ index .data "Comment" | emojify }}</div>
  </li>
  {{ else }}
  <li>
    No comments yet. Be the first to post.
  </li>
  {{ end }}
 </ul>
  <h3>Post a new comment</h3>
<p>We get avatars from
  <a target="_blank" rel="noopener" href="https://www.gravatar.com">Gravatar</a>. You can use emojis as per the <a target="_blank" href="https://www.webfx.com/tools/emoji-cheat-sheet/" rel="noopener">Emoji cheat sheet.</a></p>
<form netlify="true" netlify-honeypot="id" name="Comments">
  <label for="comment-name" class="sr-only">Name</label>
  <input id="comment-name" class="comment-name" required type="name" autocomplete="given-name" placeholder="Name" name="Name">
  <label for="comment-email" class="sr-only">Email</label>
  <input id="comment-email" class="comment-email" required type="email" autocomplete="email" placeholder="Email address"
  name="Email">
  <input id="commenter-id" name="id" />
  <input type="hidden" name="url" value="{{$.RelPermalink}}">
  <label for="comment" class="sr-only">Comment</label>
  <textarea id="comment" rows="10" class="comment-text" name="Comment" placeholder="Your comment" required></textarea>
  <button type="submit">Post Comment</button>
</form>
</section>
{{- end -}}
